body {
  margin: 0px;
}
[v-cloak] {
  display: none;
}
.container1 {
  height: 33%;
  width: 100%;
  background: #CFF09E;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container2 {
  height: 33%;
  width: 100%;
  background: #A8DBA8;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container3 {
  height: 33%;
  width: 100%;
  background: #3B8686;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.app {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 12vh;
}
.app > span {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
