[v-cloak] {
  display: none;
}
.container {
  height: 100%;
  width: 100%;
  user-select: none;
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 20vh;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container > span {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30vh;
}
